* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeUpBottom {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Adjust the distance of the fade-up */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

body {
    font-family: 'Jura', sans-serif;
    background: #000000;
    color: white;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    position: relative;
}

.navbar {
    position: fixed;
    width: 540px;
    height: 8px;
    margin-top: 4rem;
    margin-left: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    z-index: 1;
    animation: fadeUpBottom 0.4s ease-out forwards;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, border-radius 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(30, 30, 30, 0.8); 
    backdrop-filter: blur(3px); 
    border-radius:  13px 13px; 
    width: 540px;
    height: 8px;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(90deg, #fff, #aaa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: #ccc;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: 'Jura', sans-serif;
  color: #fff;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-box {
  background-color: #2e2e2e;
  padding: 40px 50px;
  border-radius: 16px;
  text-align: center;
  width: 320px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.contact-box h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

.contact-item {
  margin-bottom: 30px;
  text-align: left;
}

.contact-label {
  display: block;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 6px;
  padding-left: 6px;
}

.contact-link {
  display: block;
  text-align: center;
  font-size: 18px;
  text-decoration: none;
  color: #00e0ff;
  transition: 0.3s;
}

.contact-link:hover {
  text-decoration: underline;
}
