* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadeUpBottom {
    0% {
      opacity: 0;
      transform: translateY(20px); /* Adjust the distance of the fade-up */
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

body {
    font-family: 'Jura', sans-serif;
    background: #000000;
    color: white;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    position: relative;
}

.navbar {
    position: fixed;
    width: 540px;
    height: 8px;
    margin-top: 4rem;
    margin-left: 100rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
    z-index: 1;
    animation: fadeUpBottom 0.4s ease-out forwards;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, border-radius 0.3s ease;
}

.navbar.scrolled {
    background-color: rgba(30, 30, 30, 0.8); 
    backdrop-filter: blur(3px); 
    border-radius:  13px 13px; 
    width: 540px;
    height: 8px;
}

.logo {
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(90deg, #fff, #aaa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 2rem;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 300;
    position: relative;
    transition: all 0.3s ease;
}

.nav-menu a:hover {
    color: #ccc;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: white;
    bottom: -5px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-menu a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    background-color: white;
    transition: all 0.3s ease;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 0.3rem;
    position: relative;
    z-index: 0;
    animation: fadeUpBottom 0.6s ease-out forwards;
}

.header {
    margin-bottom: 3rem;
}

.header h1 {
    font-family: "Jura";
    font-size: 6rem;
    font-style: bold;
    line-height: 1;
    margin-bottom: 1.5rem;
    background: linear-gradient(90deg, #fff, #aaa);
    background-clip: text;
}

.slogan h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 2rem;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
}

.cta-button {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 1rem 2rem;
    font-family: 'Jura', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    backdrop-filter: blur(10px);
    letter-spacing: 1px;
}

.cta-button a {
    text-decoration: none;
    color: #ffffff;
}
.cta-button:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: translateY(-2px);
}

.social_icons {
    display: flex;
    gap: 1.5rem;
    margin-top: 0.1rem;
}

.social_icon {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.social_icon:hover {
    opacity: 1;
}

.copyrights {
    margin-top: 1rem;
}

.copyrights h6 {
    color: #353535;
}

.skills_section {
    padding: 13rem;
}

.skill_heading h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 4rem;
    font-family: 'Jura';
    text-transform: uppercase;
}

.skill_container {
    margin-top: 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; /* Increased gap for padding */
}

.skill_container > div {
    background-color: #1d1d1d;
    padding: 16px; /* Reduced padding inside cards */
    border-radius: 23px;
    width: 90%; /* Reduced width */
    margin: 0 auto; /* Center the cards */
}

.skill_container > div img {
    max-width: 60px;
    margin-top: -10rem;
    margin-bottom: 8px;
    margin-left: 1.8rem;
}

.skill_container > div h3 {
    color: #ffffff;
    font-family: 'Jura';
    letter-spacing: 0px;
    margin-top: 2rem;
    margin-left: 8rem;
    margin-bottom: 3px;
    font-size: 2.5rem; /* Slightly reduced font size */
}

.skill_container > div h5 {
    color: #bebebe;
    margin-top: 1px;
    margin-left: 8rem;
    margin-bottom: 13px;
    font-size: 0.8em; /* Reduced font size */
}

.skill_container > div .html_pgr_bar,
.skill_container > div .css_pgr_bar,
.skill_container > div .js_pgr_bar,
.skill_container > div .react_pgr_bar,
.skill_container > div .python_pgr_bar,
.skill_container > div .tailwind_pgr_bar,
.skill_container > div .php_pgr_bar,
.skill_container > div .flutter_pgr_bar {
    background-color: #d3d3d3;
    height: 8px;
    margin-left: 8rem;
    width: 70%; 
    border-radius: 4px;
    margin-bottom: 8px;
}

/* Example progress bar fill (adjust width as needed) */
.skill_container > div .html_pgr_bar::before {
    content: "";
    display: block;
    background-color: #f3421b;
    height: 100%;
    width: 84%;
    border-radius: 4px;
}

.skill_container > div .css_pgr_bar::before {
    content: "";
    display: block;
    background-color: #2aa0ea;
    height: 100%;
    width: 80%;
    border-radius: 4px;
}

.skill_container > div .js_pgr_bar::before {
    content: "";
    display: block;
    background-color: #daca1d;
    height: 100%;
    width: 30%;
    border-radius: 4px;
}

.skill_container > div .react_pgr_bar::before {
    content: "";
    display: block;
    background-color: #17a2b8;
    height: 100%;
    width: 20%;
    border-radius: 4px;
}

.skill_container > div .python_pgr_bar::before {
    content: "";
    display: block;
    background-color: #6f42c1;
    height: 100%;
    width: 50%;
    border-radius: 4px;
}

.skill_container > div .tailwind_pgr_bar::before {
    content: "";
    display: block;
    background-color: #e83e8c;
    height: 100%;
    width: 70%;
    border-radius: 4px;
}

.skill_container > div .php_pgr_bar::before {
    content: "";
    display: block;
    background-color: #fd7e14;
    height: 100%;
    width: 3%;
    border-radius: 4px;
}

.skill_container > div .flutter_pgr_bar::before {
    content: "";
    display: block;
    background-color: #007bff;
    height: 100%;
    width: 60%;
    border-radius: 4px;
}

.skill_container > div button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-align: right;
    width: 100%;
    padding-top: 8px; /* Reduced padding */
}

.skill_container > div button a {
    color: #007bff;
    text-decoration: none;
    font-size: 0.85em; /* Reduced font size */
}

.skill_container h4 {
    padding-left: 36px;
    margin-top: -2rem;
    margin-bottom: 2rem;
}

.project_title h1{
    text-align: center;
    padding-top: 13rem;
    margin-bottom: 30px;
    font-size: 4rem;
    font-family: 'Jura';
    text-transform: uppercase;
}

/* latest project */
.latest_project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    cursor: pointer;
}

.lcard {
    position: relative;
    width: 1800px;
    height: 1900px;
    border: 3px solid #ee3939;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
  }

  .badge {
      position: absolute;
      width: 80px;
      top: 10px;
      left: 10px;
      background-color: gold;
      color: #000;
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 50px;
      font-size: 12px;
    }

  .lcard:hover {
    transform: scale(1.05); 
  }
  
  .lcard img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .lcard-body {
    padding: 15px;
    margin-left: 2rem;
  }
 
  .lcard_title {
    margin-top: 1rem;
  }
  .lcard_title h1 {
    font-size: 3rem;
  }
  
  .lcard_text {
    margin-top: 0.5rem;
  }
  .lcard_text p {
    color: #b3b3b3;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .lcard_overview {
    width: 1000px;
    margin-top: 2.5rem;
  }
  .lcard_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .ltech_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .ltech_stack_title h3 {
    font-size: 1.5rem;
  }

  .ltech_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .lproject_redirect_button {
    margin-top: 2rem;
    font-weight: 500;

  }
  .lproject_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }

.project1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    cursor: pointer;
}

.card {
    width: 1800px;
    height: 1900px;
    border: 1px solid #1e1e1e;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05); 
  }
  
  .card img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
    margin-left: 2rem;
  }
 
  .card_title {
    margin-top: 1rem;
  }
  .card_title h1 {
    font-size: 3rem;
  }
  
  .card_text {
    margin-top: 0.5rem;
  }
  .card_text p {
    color: #b3b3b3;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .card_overview {
    width: 1000px;
    margin-top: 2.5rem;
  }
  .card_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .tech_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .tech_stack_title h3 {
    font-size: 1.5rem;
  }

  .tech_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .project_redirect_button {
    margin-top: 2rem;
    font-weight: 500;

  }
  .project_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }

.project2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    cursor: pointer;
}

.card2 {
    width: 1800px;
    height: 1900px;
    border: 1px solid #1e1e1e;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
  }

  .card2:hover {
    transform: scale(1.05); 
  }
  
  .card2 img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .card-body {
    padding: 15px;
    margin-left: 2rem;
  }
 
  .card2_title {
    margin-top: 1rem;
  }
  .card2_title h1 {
    font-size: 3rem;
  }
  
  .card2_text {
    margin-top: 0.5rem;
  }
  .card2_text p {
    color: #b3b3b3;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .card2_overview {
    width: 1000px;
    margin-top: 2.5rem;
  }
  .card2_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .tech2_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .tech2_stack_title h3 {
    font-size: 1.5rem;
  }

  .tech2_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .project2_redirect_button {
    margin-top: 2rem;
    font-weight: 500;

  }
  .project2_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }

  .project3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
    cursor: pointer;
}

.card3 {
    width: 1800px;
    height: 1900px;
    border: 1px solid #1e1e1e;
    border-radius: 13px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.4s ease-in-out;
  }

  .card3:hover {
    transform: scale(1.05); 
  }
  
  .card3 img {
    width: 100%;
    display: block;
    height: auto;
  }
  
  .card3-body {
    padding: 15px;
    margin-left: 2rem;
  }
 
  .card3_title {
    margin-top: 1rem;
  }
  .card3_title h1 {
    font-size: 3rem;
  }
  
  .card3_text {
    margin-top: 0.5rem;
  }

  .card3_text p {
    color: #b3b3b3;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .card3_overview {
    width: 1000px;
    margin-top: 2.5rem;
  }
  .card3_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .tech3_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .tech3_stack_title h3 {
    font-size: 1.5rem;
  }

  .tech3_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .project3_redirect_button {
    margin-top: 2rem;
    font-weight: 500;

  }
  .project3_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }
  
  .footer_container {
    margin-top: 4rem;
    justify-content: center;
  }

  .footer_container h1 {
    width: auto;
    line-height: 2rem;
    font-family: jura;
    color: #282828;
    font-size: 20px;
    text-align: center;
  }





/* Responsive Grid for smaller screens */
@media screen and (min-resolution: 2x) {
    .container {
        max-width: 2200px;
        margin: 0 auto;
        padding: 4rem;
    }
    .navbar {
        margin-top: -0.8rem;
        margin-left: 40rem;
        width: 480px;
        height: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
    }

    .navbar.scrolled {
        background-color: rgba(30, 30, 30, 0.8); 
        backdrop-filter: blur(3px); 
        border-radius:  13px 13px; 
        width: 390px;
        height: 8px;
    }

    .nav-menu {
        display: flex;
        list-style: none;
    }
    
    .nav-menu li {
        margin-left: 2rem;
    }
    
    .nav-menu a {
        text-decoration: none;
        color: white;
        font-size: 15px;
        position: relative;
        transition: all 0.3s ease;
    }
    
    .nav-menu a:hover {
        color: #ccc;
    }
    
    .nav-menu a::after {
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background: white;
        bottom: -5px;
        left: 0;
        transition: width 0.3s ease;
    }
    
    .nav-menu a:hover::after {
        width: 100%;
    }

    .content {
        max-width: 1800px;
        height: 80vh;
        justify-content: center;
    }

    .header h1 {
        margin-left: 13rem;
        margin-top: 8rem;
        font-size: 3.8rem;
        line-height: 1.1;
    }

    .slogan h3 {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-left: 13rem;
    }

    .cta-button {
        scale: 0.6;
        font-size: 1.5rem;
        padding: 1.5rem 3rem;
        margin-top: -3rem;
        margin-left: 8.7rem;
    }

    .social_icons {
        scale: 0.6;
        gap: 2.5rem;
        margin-top: 2rem;
        margin-top: -2.5rem;
        margin-left: -1.5rem;
    }

    .socialicon img {
        width: 50px;
        height: 50px;
    }

    .copyrights h6 {
        font-size: 0.75rem;
        margin-left: 12.8rem;
    }

    .skills_section {
        padding: 6rem;
    }
    
    .skill_heading h1 {
        text-align: center;
        margin-bottom: 30px;
        font-size: 3rem;
        font-family: 'Jura';
        text-transform: uppercase;
    }
    
    .skill_container {
        margin-top: 5rem;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px; /* Increased gap for padding */
    }
    
    .skill_container > div {
        background-color: #1d1d1d;
        padding: 16px; /* Reduced padding inside cards */
        border-radius: 23px;
        width: 106%; /* Reduced width */
        height: 120px;
        margin: 0 auto; /* Center the cards */
    }
    
    .skill_container > div img {
        max-width: 40px;
        margin-top: -1.02rem;
        margin-bottom: 8px;
        margin-left: 0.3rem;
    }
    
    .skill_container > div h3 {
        color: #ffffff;
        font-family: 'Jura';
        letter-spacing: 0px;
        margin-top: 0rem;
        margin-left: 5rem;
        margin-bottom: 3px;
        font-size: 1.4rem; 
    }
    
    .skill_container > div h5 {
        color: #bebebe;
        margin-top: -1.3rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 0.8em; 
    }
    
    .skill_container > div .html_pgr_bar,
    .skill_container > div .css_pgr_bar,
    .skill_container > div .js_pgr_bar,
    .skill_container > div .react_pgr_bar,
    .skill_container > div .python_pgr_bar,
    .skill_container > div .tailwind_pgr_bar,
    .skill_container > div .php_pgr_bar,
    .skill_container > div .flutter_pgr_bar {
        background-color: #d3d3d3;
        height: 8px;
        margin-top: -1rem;
        margin-left: 4.8rem;
        width: 68%; 
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    
    .skill_container > div button a {
        color: #007bff;
        text-decoration: none;
        font-size: 0.85em; /* Reduced font size */
    }
    
    .skill_container h4 {
        padding-left: 8px;
        margin-top: -1.5rem;
        margin-bottom: 2rem;
    }

    .container_3 {
        overflow: hidden;
        margin-top: 3rem;
    }

    /* Latest Project */
    .latest_project {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .lproject_title h1 {
        font-size: 3rem;
    }

    .lcard {
        position: relative;
        margin-top: 6rem;
        width: 1100px;
        height: 1370px;
        border: 3px solid #ee3939;
        border-radius: 13px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.4s ease-in-out;
    }

    .badge {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: gold;
      color: #000;
      padding: 5px 10px;
      font-weight: bold;
      border-radius: 50px;
      font-size: 12px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }

    .lcard:hover {
        transform: scale(1.05); 
    }
    
    .lcard img {
        width: 100%;
        display: block;
        height: auto;
      }
      
      .lcard-body {
        padding: 15px;
        margin-left: 2rem;
      }
     
      .lcard_title {
        margin-top: 1rem;
      }
      .lcard_title h1 {
        font-size: 2.3rem;
      }
      
      .lcard_text {
        width: 500px;
        margin-top: 0.7rem;
      }
      .lcard_text p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 15px;
      }
      
      .lcard_overview {
        width: 860px;
        margin-top: 2.5rem;
      }
      .lcard_overview p {
        text-align: justify;
        font-size: 0.9rem;
        line-height: 1.6rem;
        color: #b3b3b3;
      }
    
      .ltech_stack {
        color: #b3b3b3;
        margin-top: 1.7rem;
      }
    
      .ltech_stack_title h3 {
        font-size: 1.2rem;
      }
    
      .ltech_stack ul {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-left: 1.7rem;
      }
    
      .lproject_redirect_button {
        margin-top: 2rem;
        font-weight: 500;
    
      }
      .lproject_redirect_button a{
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 38px;
      }

    .project1 {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .project_title h1 {
        font-size: 3rem;
    }

    .card {
        margin-top: 6rem;
        width: 1100px;
        height: 1370px;
        border: 1px solid #1e1e1e;
        border-radius: 13px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: transform 0.4s ease-in-out;
    }

    .card:hover {
        transform: scale(1.05); 
    }

    .card img {
        width: 100%;
        display: block;
        height: auto;
      }
      
      .card-body {
        padding: 15px;
        margin-left: 2rem;
      }
     
      .card_title {
        margin-top: 1rem;
      }
      .card_title h1 {
        font-size: 2.3rem;
      }
      
      .card_text {
        width: 500px;
        margin-top: 0.7rem;
      }
      .card_text p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 15px;
      }
      
      .card_overview {
        width: 860px;
        margin-top: 2.5rem;
      }
      .card_overview p {
        text-align: justify;
        font-size: 0.9rem;
        line-height: 1.6rem;
        color: #b3b3b3;
      }
    
      .tech_stack {
        color: #b3b3b3;
        margin-top: 1.7rem;
      }
    
      .tech_stack_title h3 {
        font-size: 1.2rem;
      }
    
      .tech_stack ul {
        font-size: 1rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-left: 1.7rem;
      }
    
      .project_redirect_button {
        margin-top: 2rem;
        font-weight: 500;
    
      }
      .project_redirect_button a{
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 38px;
      }
    
      .project2 {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .card2 {
        margin-top: 6rem;
        width: 1100px;
        height: 1370px;
        border: 1px solid #1e1e1e;
        border-radius: 13px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden; 
        transition: transform 0.4s ease-in-out;
      }
    
      .card2:hover {
        transform: scale(1.05); 
      }
      
      .card2 img {
        width: 100%;
        display: block;
        height: auto;
      }
      
      .card-body {
        padding: 15px;
        margin-left: 2rem;
      }
     
      .card2_title {
        margin-top: 1rem;
      }
      .card2_title h1 {
        font-size: 2.3rem;
      }
      
      .card2_text {
        width: 500px;
        margin-top: 0.7rem;
      }
      .card2_text p {
        color: #555;
        margin-bottom: 15px;
      }
      
      .card2_overview {
        width: 860px;
        margin-top: 2.5rem;
      }
      .card2_overview p {
        text-align: justify;
        font-size: 0.9rem;
        line-height: 1.6rem;
        color: #b3b3b3;
      }
    
      .tech2_stack {
        color: #b3b3b3;
        margin-top: 1.7rem;
      }
    
      .tech2_stack_title h3 {
        font-size: 1.2rem;
      }
    
      .tech2_stack ul {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-left: 1.7rem;
      }
    
      .project2_redirect_button {
        margin-top: 2rem;
        font-weight: 500;
    
      }
      .project2_redirect_button a{
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 38px;
      }
    
      .project3 {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    
    .card3 {
        margin-top: 6rem;
        width: 1100px;
        height: 1310px;
        border: 1px solid #1e1e1e;
        border-radius: 13px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
        overflow: hidden; 
        transition: transform 0.4s ease-in-out;
      }
    
      .card3:hover {
        transform: scale(1.05); 
      }
      
      .card3 img {
        width: 100%;
        display: block;
        height: auto;
      }
      
      .card3-body {
        padding: 15px;
        margin-left: 2rem;
      }
     
      .card3_title {
        margin-top: 1rem;
      }
      .card3_title h1 {
        font-size: 2.3rem;
      }
      
      .card3_text {
        width: 500px;
        margin-top: 0.7rem;
      }
      .card3_text p {
        color: #555;
        margin-bottom: 15px;
      }
      
      .card3_overview {
        width: 860px;
        margin-top: 2.5rem;
      }
      .card3_overview p {
        text-align: justify;
        font-size: 0.9rem;
        line-height: 1.6rem;
        color: #b3b3b3;
      }
    
      .tech3_stack {
        color: #b3b3b3;
        margin-top: 1.7rem;
      }
    
      .tech3_stack_title h3 {
        font-size: 1.2rem;
      }
    
      .tech3_stack ul {
        font-size: 1.2rem;
        line-height: 2rem;
        margin-top: 1rem;
        margin-left: 1.7rem;
      }
    
      .project3_redirect_button {
        margin-top: 2rem;
        font-weight: 500;
    
      }
      .project3_redirect_button a{
        display: inline-block;
        padding: 10px 20px;
        background-color: #ffffff;
        color: rgb(0, 0, 0);
        text-decoration: none;
        border-radius: 38px;
      } 

   
}

@media screen and (max-width: 768px) {
    .container {
        height: 100vh;
        padding: 1rem;
    }
    
    .navbar {
        margin-top: 1rem;
        margin-left: 0;
        justify-content: flex-end;
    }

    h1 {
        font-size: 3.5rem;
    }

    .nav-menu {
        position: fixed;
        right: -100%; /* Change from left to right */
        top: 0;
        height: 100vh;
        width: 70%; /* Adjust width as needed */
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        transition: 0.3s;
        box-shadow: -10px 0 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
        padding-top: 4rem;
    }

    .nav-menu.active {
        right: 0; /* Change from left to right */
    }

    .nav-menu li {
        margin: 2.5rem 0;
    }

    .menu-toggle {
        display: block;
        z-index: 11;
        position: relative;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .content {
        margin-top: 1rem;
        text-align: center;
        align-items: center;
    }

    .social_icons {
        justify-content: center;
    }
}

@media screen and (max-width: 430px) {
    body {
        overflow-x: hidden;
        background: #000000;
    }

    .container {
        padding: 0.5rem;
    }

    .navbar {
        margin-top: 1rem;
        margin-right: 30px;
    }

    .navbar.scrolled {
      background: none;
      backdrop-filter: blur(0px);
    }

    .nav-menu {
        position: fixed;
        right: -100%; /* Change from left to right */
        top: 0;
        height: 65vh;
        width: 50%; /* Adjust width as needed */
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        transition: 0.3s;
        box-shadow: -10px 0 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
        padding-top: 4rem;
    }

    .nav-menu.active {
        right: 0; /* Change from left to right */
    }

    .nav-menu li {
      padding-right: 2rem;
        margin: 2.5rem 0;
    }

    .menu-toggle {
        display: block;
        z-index: 11;
        position: relative;
        margin-right: 4.8rem;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .content {
        width: auto;
        margin: auto;
        max-height: 100vh;
        margin-top: 7rem;
    }

    .header h1 {
        text-align: left;
        font-size: 2.6rem;
        margin-top: -3rem;
        margin-left: 0.7rem;
    }

    .slogan h3 {
        font-size: 1rem;
        margin-top: -1rem;
        margin-left: -1rem;
        margin-bottom: 1.3rem;
    }
    
    .cta-button {
        margin-left: -9rem;
        margin-top: -9rem;
        scale: 0.6;
        width: 86%;
        padding: 0.8rem 1.5rem;
    }

    .social_icons {
        margin-left: -13.7rem;
        margin-top: -3rem;
    }
    .social_icons img{
        scale: 0.9;
    }

    .copyrights {
        scale: 0.9;
        margin-top: 0.6rem;
        margin-left: -15rem;
    }

    .skill_heading {
        margin-top: -5rem;
        align-items: center;
    }

    .skill_heading h1 {
        font-size: 2rem;
    }

    .skill_container {
        margin-top: 5rem;
        display: block;
    }
    .html {
        margin-bottom: 2rem;
    }
    .container_2 {
        display: block;
    }

    .skill_container > div {
        background-color: #1d1d1d;
        padding: 16px; 
        border-radius: 23px;
        width: 130%; 
        height: 120px;
        margin: 20px -2.3rem;
        align-items: center;
    }
    
    .project_title {
      margin-top: -5rem;
      align-items: center;
    }

    .project_title h1 {
      font-size: 2rem;
    }
    
    .container_3 {
      display: block;
    }

    /* Latest Project */
    .lcard {
      position: relative;
      width: 340px;
      height: 880px;
      margin-top: -4rem;
    }

    .lcard .badge {
    margin: auto;
    position: absolute;
  }

    .lcard_title {
      margin-top: 1rem;
      margin-left: -2rem;
    }

    .lcard_title h1 {
      text-align: center;
      font-size: 1.5rem;
    }
    
    .lcard_text {
      margin-top: 0.5rem;
      margin-left: -0.7rem;
      width: 276px;
    }
    .lcard_text p {
      color: #555;
      font-size: 0.93rem;
      margin-top: 0.6rem;
      margin-bottom: 15px;
    }
    
    .lcard_overview {
      width: 276px;
      margin-left: -1rem;
      margin-top: 2.5rem;
    }
    .lcard_overview p {
      text-align: justify;
      font-size: 1rem;
      line-height: 1.6rem;
      color: #b3b3b3;
    }
  
    .ltech_stack {
      color: #b3b3b3;
      margin-top: 1.7rem;
    }
  
    .ltech_stack_title h3 {
      font-size: 1.5rem;
    }
  
    .ltech_stack ul {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-top: 1rem;
      margin-left: 1.7rem;
    }
  
    .lproject_redirect_button {
      margin-top: 2rem;
      font-weight: 500;
      margin-left: 3.5rem;
  
    }
    .lproject_redirect_button a{
      display: inline-block;
      padding: 10px 20px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 38px;
    }

    .card {
      width: 340px;
      height: 960px;
      margin-top: -4rem;
    }

    .card_title {
      margin-top: 1rem;
      margin-left: -2rem;
    }

    .card_title h1 {
      text-align: center;
      font-size: 1.5rem;
    }
    
    .card_text {
      margin-top: 0.5rem;
      margin-left: -0.7rem;
      width: 276px;
    }
    .card_text p {
      color: #555;
      font-size: 0.93rem;
      margin-top: 0.6rem;
      margin-bottom: 15px;
    }
    
    .card_overview {
      width: 276px;
      margin-left: -1rem;
      margin-top: 2.5rem;
    }
    .card_overview p {
      text-align: justify;
      font-size: 1rem;
      line-height: 1.6rem;
      color: #b3b3b3;
    }
  
    .tech_stack {
      color: #b3b3b3;
      margin-top: 1.7rem;
    }
  
    .tech_stack_title h3 {
      font-size: 1.5rem;
    }
  
    .tech_stack ul {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-top: 1rem;
      margin-left: 1.7rem;
    }
  
    .project_redirect_button {
      margin-top: 2rem;
      font-weight: 500;
      margin-left: 3.5rem;
    }
    .project_redirect_button a{
      display: inline-block;
      padding: 10px 20px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 38px;
    }

    .card2 {
      width: 340px;
      height: 960px;
      margin-top: -4rem;
    }
   
    .card2_title {
      width: 320px;
      margin-top: 1rem;
      margin-left: -2rem;
    }
    .card2_title h1 {
      text-align: center;
      font-size: 1.5rem;
      }
    
    .card2_text {
      margin-top: 0.5rem;
      margin-left: -0.7rem;
      width: 276px;
    }
    .card2_text p {
      color: #555;
      font-size: 0.93rem;
      margin-top: 0.6rem;
      margin-bottom: 15px;
    }
    
    .card2_overview {
      width: 276px;
      margin-left: -1rem;
      margin-top: 2.5rem;
    }
    .card2_overview p {
      text-align: justify;
      font-size: 1rem;
      line-height: 1.6rem;
      color: #b3b3b3;
    }
  
    .tech2_stack {
      color: #b3b3b3;
      margin-top: 1.7rem;
    }
  
    .tech2_stack_title h3 {
      font-size: 1.5rem;
    }
  
    .tech2_stack ul {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-top: 1rem;
      margin-left: 1.7rem;
    }
  
    .project2_redirect_button {
      margin-top: 2rem;
      font-weight: 500;
      margin-left: 3.5rem;
  
    }
    .project2_redirect_button a{
      display: inline-block;
      padding: 10px 20px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 38px;
    }

    .card3 {
      width: 340px;
      height: 920px;
      margin-top: -4rem;
    }
   
    .card3_title {
      width: 320px;
      margin-top: 1rem;
      margin-left: -2rem;
    }
    .card3_title h1 {
      text-align: center;
      font-size: 1.5rem;
    }
    
    .card3_text {
      margin-top: 0.5rem;
      margin-left: -0.7rem;
      width: 276px;
    }
    .card3_text p {
      color: #555;
      font-size: 0.93rem;
      margin-top: 0.6rem;
      margin-bottom: 15px;
    }
    
    .card3_overview {
      width: 276px;
      margin-left: -1rem;
      margin-top: 2.5rem;
    }
    .card3_overview p {
      text-align: justify;
      font-size: 1rem;
      line-height: 1.6rem;
      color: #b3b3b3;
    }
  
    .tech3_stack {
      color: #b3b3b3;
      margin-top: 1.7rem;
    }
  
    .tech3_stack_title h3 {
      font-size: 1.5rem;
    }
  
    .tech3_stack ul {
      font-size: 1.2rem;
      line-height: 2rem;
      margin-top: 1rem;
      margin-left: 1.7rem;
    }
  
    .project3_redirect_button {
      margin-top: 2rem;
      font-weight: 500;
      margin-left: 3.5rem;
    }
    .project3_redirect_button a{
      display: inline-block;
      padding: 10px 20px;
      background-color: #ffffff;
      color: rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 38px;
    }

    .footer_container {
      overflow: hidden;
    }
  
}

@media screen and (max-width: 414px) {
  body {
      overflow-x: hidden;
      background: #000000;
  }

  .container {
      padding: 0.5rem;
  }

  .navbar {
      margin-top: 1rem;
      margin-right: 30px;
  }

  .navbar.scrolled {
    background: none;
    backdrop-filter: blur(0px);
  }

  .nav-menu {
      position: fixed;
      right: -100%; 
      top: 0;
      border-radius: 13px;
      height: 70vh;
      width: 50%; 
      flex-direction: column;
      background: rgba(0, 0, 0, 0.9);
      text-align: center;
      transition: 0.3s;
      box-shadow: -10px 0 27px rgba(0, 0, 0, 0.05);
      z-index: 10;
      padding-right: 4rem;
      padding-top: 4rem;
  }

  .nav-menu.active {
      right: 0; 
  }

  .nav-menu li {
    padding-left: 2rem;
      margin: 2.5rem 0;
  }

  .menu-toggle {
      display: block;
      z-index: 11;
      position: relative;
      margin-right: 5.9rem;
  }

  .menu-toggle.active .bar:nth-child(2) {
      opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(1) {
      transform: translateY(7px) rotate(45deg);
  }

  .menu-toggle.active .bar:nth-child(3) {
      transform: translateY(-7px) rotate(-45deg);
  }

  .content {
      width: auto;
      margin: auto;
      max-height: 100vh;
      margin-top: 7rem;
  }

  .header h1 {
      text-align: left;
      font-size: 2.6rem;
      margin-top: -3rem;
      margin-left: 0.7rem;
  }

  .slogan h3 {
      font-size: 1rem;
      margin-top: -1rem;
      margin-left: -1rem;
      margin-bottom: 1.3rem;
  }
  
  .cta-button {
      margin-left: -9rem;
      margin-top: -9rem;
      scale: 0.6;
      width: 86%;
      padding: 0.8rem 1.5rem;
  }

  .social_icons {
      margin-left: -13.7rem;
      margin-top: -3rem;
  }
  .social_icons img{
      scale: 0.9;
  }

  .copyrights {
      scale: 0.9;
      margin-top: 0.6rem;
      margin-left: -15rem;
  }

  .skill_heading {
      margin-top: -5rem;
      align-items: center;
  }

  .skill_heading h1 {
      font-size: 2rem;
  }

  .skill_container {
      margin-top: 5rem;
      margin-left: 0.7rem;
      display: block;
      align-items: center;
      justify-content: center;
  }
  .html {
      margin-bottom: 2rem;
  }
  .container_2 {
      display: block;
  }

  .skill_container > div {
      background-color: #1d1d1d;
      padding: 16px; 
      border-radius: 23px;
      width: 130%; 
      height: 120px;
      margin: 20px -2.3rem;
      align-items: center;
  }
  
  .project_title {
    margin-top: -5rem;
    align-items: center;
  }

  .project_title h1 {
    font-size: 2rem;
  }
  
  .container_3 {
    display: grid;
    align-items: center;
    justify-content: center;
  }

  /* Latest Project */
  .lcard {
    position: relative;
    width: 340px;
    height: 890px;
    margin-top: -4rem;
  }
  .lcard .badge {
    margin: auto;
    position: absolute;
  }

  .lcard_title {
    margin-top: 1rem;
    margin-left: -2rem;
  }

  .lcard_title h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .lcard_text {
    margin-top: 0.5rem;
    margin-left: -0.7rem;
    width: 276px;
  }
  .lcard_text p {
    color: #555;
    font-size: 0.93rem;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .lcard_overview {
    width: 276px;
    margin-left: -1rem;
    margin-top: 2.5rem;
  }
  .lcard_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .ltech_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .ltech_stack_title h3 {
    font-size: 1.5rem;
  }

  .ltech_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .lproject_redirect_button {
    margin: auto 3.5rem;
    margin-top: 2rem;
    font-weight: 500;

  }
  .lproject_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }

  .card {
    width: 340px;
    height: 960px;
    margin-top: -4rem;
  }

  .card_title {
    margin-top: 1rem;
    margin-left: -2rem;
  }

  .card_title h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .card_text {
    margin-top: 0.5rem;
    margin-left: -0.7rem;
    width: 276px;
  }
  .card_text p {
    color: #555;
    font-size: 0.93rem;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .card_overview {
    width: 276px;
    margin-left: -1rem;
    margin-top: 2.5rem;
  }
  .card_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .tech_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .tech_stack_title h3 {
    font-size: 1.5rem;
  }

  .tech_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .project_redirect_button {
    margin: auto 3.5rem;
    margin-top: 2rem;
    font-weight: 500;

  }
  .project_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }

  .card2 {
    width: 340px;
    height: 960px;
    margin-top: -4rem;
  }
 
  .card2_title {
    width: 320px;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .card2_title h1 {
    text-align: center;
    font-size: 1.5rem;
    }
  
  .card2_text {
    margin-top: 0.5rem;
    margin-left: -0.7rem;
    width: 276px;
  }
  .card2_text p {
    color: #555;
    font-size: 0.93rem;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .card2_overview {
    width: 276px;
    margin-left: -1rem;
    margin-top: 2.5rem;
  }
  .card2_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .tech2_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .tech2_stack_title h3 {
    font-size: 1.5rem;
  }

  .tech2_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .project2_redirect_button {
    margin: auto 3.5rem;
    margin-top: 2rem;
    font-weight: 500;

  }
  .project2_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }

  .card3 {
    width: 340px;
    height: 930px;
    margin-top: -4rem;
  }
 
  .card3_title {
    width: 320px;
    margin-top: 1rem;
    margin-left: -2rem;
  }
  .card3_title h1 {
    text-align: center;
    font-size: 1.5rem;
  }
  
  .card3_text {
    margin-top: 0.5rem;
    margin-left: -0.7rem;
    width: 276px;
  }
  .card3_text p {
    color: #555;
    font-size: 0.93rem;
    margin-top: 0.6rem;
    margin-bottom: 15px;
  }
  
  .card3_overview {
    width: 276px;
    margin-left: -1rem;
    margin-top: 2.5rem;
  }
  .card3_overview p {
    text-align: justify;
    font-size: 1rem;
    line-height: 1.6rem;
    color: #b3b3b3;
  }

  .tech3_stack {
    color: #b3b3b3;
    margin-top: 1.7rem;
  }

  .tech3_stack_title h3 {
    font-size: 1.5rem;
  }

  .tech3_stack ul {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1.7rem;
  }

  .project3_redirect_button {
    margin: auto 3.5rem;
    margin-top: 2rem;
    font-weight: 500;

  }
  .project3_redirect_button a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 38px;
  }
  .footer_container {
    overflow: hidden;
  }

  .ft_img img{
    margin-top: -1rem;
    scale: 0.26;
  }

   .social_section a{
    display: flex;
    scale: 0.1;
    margin-left: auto;
    margin-top: auto;
    padding-left: auto;
    
  }

  .msg {
    padding-top: 4rem;
    scale: 0.8;
  }


}



@media screen and (max-width: 375px) {
    body {
        overflow-x: hidden;
        background: #000000;
    }

    .container {
        padding: 0.5rem;
    }

    .navbar {
        margin-top: 1rem;
        margin-right: 30px;
    }

    .nav-menu {
        position: fixed;
        right: -100%; /* Change from left to right */
        top: 0;
        height: 90vh;
        width: 60%; /* Adjust width as needed */
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
        transition: 0.3s;
        box-shadow: -10px 0 27px rgba(0, 0, 0, 0.05);
        z-index: 10;
        padding-top: 4rem;
    }

    .nav-menu.active {
        right: 0; /* Change from left to right */
    }

    .nav-menu li {
        margin: 2.5rem 0;
    }

    .menu-toggle {
        display: block;
        z-index: 11;
        scale: 0.8;
        position: relative;
        margin-right: 8.5rem;
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    .content {
        width: auto;
        margin-left: -1rem;
        margin-top: 6.3rem;
        max-height: 100vh;
        
    }

    .header h1 {
        text-align: left;
        font-size: 2rem;
        margin-top: -3rem;
        margin-left: 1.2rem;
    }

    .slogan h3 {
        font-size: 0.8rem;
        margin-top: -1rem;
        margin-left: 1rem;
        margin-bottom: 0.8rem;
    }
    
    .cta-button {
        margin-left: -6rem;
        margin-top: -6rem;
        scale: 0.5;
        width: 106%;
        padding: 0.8rem 1.5rem;
    }

    .social_icons {
        margin-left: -8.6rem;
        margin-top: -3.4rem;
    }
    .social_icons img{
        scale: 0.8;
    }

    .copyrights {
        scale: 0.7;
        margin-top: -0.2rem;
        margin-left: -11rem;
    }

    .skill_container > div {
        background-color: #1d1d1d;
        padding: 16px; 
        border-radius: 23px;
        width: 150%; 
        height: 120px;
        margin: 20px -2.7rem;
        align-items: center;
    }


    

}